/* Will be compiled down to a single stylesheet with your sass files */
/* colors
brown       = #47322e
light brown = #73645f
greeen      = #a1ab5f
gray text   = #555
border gray = #e2e2e2

 */
/*  Converted on fontsquirrel.com  */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Bold';
    src: url('/text/html_includes/fonts/opensans-bold-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-bold-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-bold-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Light';
    src: url('/text/html_includes/fonts/opensans-light-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-light-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-light-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Regular';
    src: url('/text/html_includes/fonts/opensans-regular-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-regular-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-regular-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}

h1 {
}



.brown {
    color: #47322e;
}

.white {
    color: #fff;
}

.collection_size {

}

.product_top
{
    width: 1024px;
    height: 285px;
    position: relative;
}

.large {
    font-size: 52px;
    font-family: 'Open_Light';
    font-weight: normal;
    border-bottom-style:solid;
    border-bottom-width: 4px; 
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 12px;
    letter-spacing: 0px;
    min-width: 240;
}

.less_large {
    font-size: 42px;
    font-family: 'Open_Light';
    font-weight: normal;
    border-bottom-style:solid;
    border-bottom-width: 4px; 
     text-transform: uppercase;
    display: inline-block;
    margin-bottom: 12px;
    margin-top: 20px;
    line-height: 42px;
}

.small {
     font-family: 'Open_Regular';
     font-weight: normal;
     text-transform: uppercase;
     font-size: 16px;
     line-height: 25px;
     display: block;
}

.smaller {
    font-family: 'Open_Regular';
    font-weight: normal;
     text-transform: uppercase;
    font-size: 5px;
    line-height: 25px;
}

.header_content_copy {
    margin-left: 60px;
   padding-top: 50px;
    position: relative;
    width: 426px;
    height: 170px;
}

.header_content_copy_higher {
    margin-left: 60px;
   padding-top: 40px;
    position: relative;
    width: 426px;
    height: 170px;
}