@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Bold';
    src: url('/text/html_includes/fonts/opensans-bold-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-bold-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-bold-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Light';
    src: url('/text/html_includes/fonts/opensans-light-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-light-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-light-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Open_Regular';
    src: url('/text/html_includes/fonts/opensans-regular-webfont.eot');
    src: url('/text/html_includes/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/text/html_includes/fonts/opensans-regular-webfont.woff') format('woff'), url('/text/html_includes/fonts/opensans-regular-webfont.ttf') format('truetype'), url('/text/html_includes/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.clearfix:after { display: table; clear: both; content: ""; }
.container {
	color: #47322e;
	font-family: 'Open_Regular';
	width: 1024px;
}
#product_top {
    width:1024px;
    position:relative;
}
#product_top.skin_hair_solutions {
    height:285px;
}
#product_top #top_copy {
    position:absolute;
    left:60px;
    top:95px;
}
#product_top #top_copy .large h1 {
    font-size:52px;
    line-height:25px;
	font-family:'Open_Light';
	font-weight:normal;
	color: #47322e;
	
}
#product_top #top_copy .small {
    font-size:21px;
    line-height:25px;
	color:#47322e;
}
#product_bottom {
    margin:0 24px 0 32px;
}
#overall_summary {
    font-size:14px;
    line-height:20px;
    margin:20px 0 0;
}
table#product_table {
    position:relative;
    left:-26px;
    border-spacing:20px 26px;
}
table#product_table .product_copy {
    width:308px;
}
table#product_table .product_copy .name {
    font-family:'Open_Bold';
    font-size:19px;
    line-height:19px;
    margin:10px 0 10px;
	padding-left:0px;
}
table#product_table .product_copy .description {
    font-size:13px;
    line-height:18px;
}
div.divider {
    width:380px;
    height:4px;
    background-color:#47322e;
    margin:10px 0px;
}
td { vertical-align:top; }
.name a, .description a {
    color:#555555;
    text-decoration:none;
}
